* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {

	background-color: #eee;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.25;
}
p {
	margin: 0 0 30px;
}
main {
	width: 100%;
}
/* HEADER SECTION */
header, nav, footer, section {
	width: 100%;
}

header, nav {
	background-color: #fff;
}

header {
	height: 120px;
}

.header-middle {
	top: 50%;
	font-weight: 700;
	margin-top: -15px;
}

.header-link {
	text-decoration: none;
	
}
.header-link:link, .header-link:visited, .header-link:hover {
	color: #222;	
}

/* MENU SECTION */
nav {
	border-top: 1px solid black;
	height: 80px;
	font-weight: 500;
}

/* CONTAINER*/

.container {
	display: block;
	width: 1140px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	padding: 30px 40px;
}
.left {
	display: inline-block;
	vertical-align: middle;
	width: 66%;
	position: absolute;
	left: 0;
	padding-right: 15px;
}
.right {
	display: block;
	width: 34%;
	position: absolute;
	right: 0;
	text-align: right;
	padding-left: 15px;
}
ul {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}
ul li {
	float: left;
}
ul.from-right li{
	padding-left: 30px;
}
ul.from-left li{
	padding-right: 30px;
}

/* BODY SECTION */
.article {
	background: #fff;
	width: 100%;
	padding: 50px 80px;
}
.article h2 {
	font-size: 1.75rem;
	font-weight: 500;
	margin-bottom: 10px;
}
.article p {
	line-height: 1.5;
}
.article-img {
	width: 100%;
	margin-bottom: 50px;
}

.article-img img {
	width: 100%;
}

aside {
	text-align: left;
}
aside > * {
	margin-bottom: 30px;
}
.subscription {
	background-color: #222;
	color: #fff;
}
.social, .search-bar {
	background-color: #fff;
}


.aside-item{
	padding: 30px 30px;
}

input {
	display: block;
	width: 100%;
	margin: 20px 0;
	border: none;
	padding: 20px;
}

input[type=submit] {
	background: #ff0000;
	color: #fff;
	font-weight: 700;
}

input[type=submit]:hover {
	background: rgba(255, 50, 50);
	cursor: pointer;
}

input[type=submit]:active {
	transform: scale(0.98);
}
input[type=search] {
	border: 1px solid #ccc;
}

li.tmp {
	background: #eee;
	display: block;
	width: 50px;
	height: 50px;
	margin: -10px 6px 22px;
}

