.header{
	background-image: url(../images/b01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
header {
	color: rgba(255, 255, 255, 1);
}

ul {
	list-style-type: none;
}
ul.topbar-left li{
	float: left;
	margin-right: 10px;
}
ul.topbar-right li{
	float: right;
	margin-left: 10px;
}
.topbar {
	border-bottom: 1px solid #fff;
}
.navbar {
	height: 80px;
}
.navbar-brand {
	height: 100%;
}
.brand-img {
	height: 100%;
	width: auto;
}




