* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header {
	background: #fc5b5b;
	color: white;
	text-align: center;
}
.card {
	width: 300px;
	max-width: 100%;
	margin-bottom: 50px;
}
.card-thumbnail {
	width: 100%;
	overflow: hidden;
}
.card-img-top {
}
.card-body {
	background: #f5f5f5;
	text-align: center;
}
.card-text {
	font-size: 1.25rem;
}
.btn-primary {
	background-color: #ccc !important;
	border: #ccc;
}
.btn:hover {
	border: #fc5b5b;
	background: #fc5b5b !important;
}
