body {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	color: #555;
}

.header{
	background-image: url(../images/labs7/b01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
header {
	color: rgba(255, 255, 255, 1);
}

ul {
	list-style-type: none;
}

.topbar {
	font-size: 0.9rem;
}
ul.topbar-left li{
	float: left;
	margin-right: 50px;
}
ul.topbar-right li{
	float: right;
	margin-left: 30px;
}
.topbar {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar {
	height: 80px;
}
.navbar-brand {
	height: 100%;
}
.brand-img {
	width: 200px;
	height: auto;
}

.nav-item a {
	font-weight: 600 ;
	font-size: 0.9rem;
}

.fa-search {
	font-size: 1.5rem;
}
button {
	background: #30a8d5 !important;
	padding: 10px 30px !important;
}

.jumbotron {
	text-align: center;
}

.breadcrumb-item + .breadcrumb-item::before {
   content: "\00BB" !important;
   color: #30a8d5;
}

.breadcrumb-item a {
	color: #fff;
}
.breadcrumb-item.active {
	color: #fff;
}
.breadcrumb-item a:hover {
	text-decoration: none;
	color: #30a8d5;
}

h1 {
	font-weight: 700;
	font-size: 4rem;
}

/* MAIN SECTION */
.fleetName {
	font-weight: 700;
	font-size: 1.25rem;
	color: #000;
}
.fleetPrice {
	font-weight: 700;
	font-size: 1.25rem;
	color: #30a8d5;
}
.fleetInfo {
	font-size: 0.75rem;
	font-weight: 500;
}

.card .btn {
	background-color: #ddd;
	color: #000;
	font-weight: 600;
}
.card:hover .btn {
	background-color: #30a8d5 !important;
	color: #fff;
}
